
.Box{
    
    -fx-pref-height: 60px;
}
.Box > TextField, DatePicker, ChoiceBox{
    -fx-background-color: rgb(255, 255, 255);
    -fx-pref-height: 40px;
    -fx-pref-width: 320px;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-size: 15px;
    -fx-effect: dropshadow(two-pass-box, rgba(255, 0, 0, 0.5), 4, 0, 0, 0);
    
}
.Box > Label{
    -fx-text-fill: rgb(93, 15, 15);
    -fx-pref-height: 30px;
    -fx-pref-width: 90px;
}

.button{
    -fx-background-color:rgba(225, 29, 72, 1);
}

.button_sap_xep{
    -fx-background-color: rgb(145, 185, 225);
}

.test{
    -fx-background-color: rgb(255, 238, 238)
}